body {
    background-color: #3234a0;  
    color: white;
       h1{font-style: italic;}
       
}

button {
    background-color: white;
    
}
a {
    color: black;
    font-style: Montserrat;
    line-height: 2;

}

.titulo-destaque {
    color: #D8D2C2;
    font-weight: bold;
    border: 1px solid #D8D2C2;
}
 