@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
   --cor-primaria: #EEF7FF; 
   --cor-secundaria: #7AB2B2;
   --cor-terciaria: #4D869C;

   --fonte-primaria: "Krona One", sans-serif;
   --fonte-secundaria: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {

    box-sizing: border-box;
    background-color: var(--cor-primaria);  
    color: var(--cor-secundaria);
       
}

.cabecalho {
   padding: 3% 0% 0% 10%;

}

.cabecalho__menu {
   display: flex;
   gap: 50px;
   font-size: 20px;
   font-family: var(--fonte-secundaria);
   font-weight: bold;
}

.cabecalho__menu__link {
   color: var(--cor-terciaria);
   text-decoration: none;
   transition: transform .2s;
}
.cabecalho__menu__link:hover{
   color: var(--cor-secundaria);
   transform: scale(1.1); 
}


h1 {
    font-family: var(--fonte-primaria);
}

.titulo-destaque {
    font-size: 30px;
    color: var(--cor-terciaria);
    font-weight: bold;
    
}

.titulo-blog {
    font-size: 30px;
     color: var(--cor-terciaria);
}

.titulo-alto{       
   padding: 5% 10%;
    color: var(--cor-terciaria);
}

 .texto-principal{
    font-family: var(--fonte-secundaria);
    font-size: 26px;
    text-align: justify;
    text-justify: inter-word;
    color: var(--cor-secundaria);
    font-weight: bold;
 }

 .apresentacao {
    padding: 3% 0% 0% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    
 }

 .apresentacao__conteudo {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 615px;
 }

 .apresentacao__links{  
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
 }

 .apresentacao__links__subtitulo{
    font-family: var(--fonte-secundaria);
    color: var(--cor-terciaria);
    font-size: 24px;
 }

 .apresentacao__links__link {
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    width: 320px;
    text-align: center;
    border-radius: 12px;    
    font-size: 24px;
    text-decoration: none;
    color: var(--cor-terciaria);
    padding: 10px 0px;
    border: 2px solid var(--cor-terciaria);
    transition: transform .2s;
 }

 .apresentacao__links__link:hover{
    transform: scale(1.1); 
 }

 .image {
    border-color: var(--cor-terciaria);
    border-style: outset;
    border-radius: 5px;
    margin-right: 20%;
 }

 .rodape {
   display: flex;
   background-color: var(--cor-secundaria);
   padding: 18px;
   margin-top: 5%;
   justify-content: center;
    color: var(--cor-terciaria);
    font-family: var(--fonte-secundaria);
    font-size: 20px;
    font-weight: 750;
}
